* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.cards {
  width: 27.8rem;
  height: 100%;
  position: absolute;
}
